@using Bazaar.Models.ListingViewModels
@model EditListingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
$(document).ready(function(){
    $(window).keydown(function(event){
        if(event.keyCode == 13 && event.target.nodeName!='TEXTAREA')
        {
          event.preventDefault();
          return false;
        }
    });
});
</script>
<style>
    .checkbox {
        -ms-transform: scale(2.5); /* IE */
        -moz-transform: scale(2.5); /* FF */
        -webkit-transform: scale(2.5); /* Safari and Chrome */
        -o-transform: scale(2.5); /* Opera */
        padding: 10px;
    }
</style>
@using (Html.BeginForm("Edit", "Listing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,new { @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Edit @Model.Name</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @value =@Model.Name ,@class = "form-control" })
    </div>

    <div class="form-group  col-md-12">
        @Html.LabelFor(m => m.price, new { @class = "control-label" })
        <div class="left-inner-addon">
            <span>$</span>
            @Html.TextBoxFor(m => m.price, new { @value = @Model.price, @class = "form-control" })
        </div>
    </div>

    <div class="form-group  col-md-12">
        @Html.LabelFor(m => m.description, new { @value = @Model.description, @class = "control-label" })
        <div class="description">
            @Html.TextAreaFor(m => m.description, 5, 1, new { @class = "form-control" })
            @{/*Html.TextBoxFor(m => m.description, new { @class = "form-control" })*/}
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="editor-label">
            @Html.LabelFor(m => m.CategoryType, new { @class = "control-label" })
        </div>
            @Html.DropDownListFor(m => m.CategoryType, new SelectList(Model.CategoryOptions, "Value", "Value"), new { @class = "form-control" })
    </div>

    <div class="form-group  col-md-3">
        @Html.LabelFor(m => m.Completed, new { @class = "control-label" })
        <div class="col-md-2">
            @Html.CheckBoxFor(m => m.Completed, new { @class = "form-control checkbox" })
        </div>
    </div>
    <div class="col-md-7"></div>

    <input name="ListingId" type="hidden" value=@Model.ListingId />
    <input name="Completed" type="hidden" value=@Model.Completed.ToString() />
    <input name="OwnerUserName" type="hidden" value=@Model.OwnerUserName />
    <input name="BuyerUserName" type="hidden" value=@Model.BuyerUserName />
    <input name="OwnerZipCode" type="hidden" value=@Model.OwnerZipCode />
    <input name="iurl" type="hidden" value=@Model.iurl />
    <div class="form-group ">
        <div class=" col-md-6 col-md-offset-6">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}